body {
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins';
    
}
h1{
    font-size: 72px;
    font-weight: 900;
    line-height: 90px;
    text-transform: uppercase;
}

a {
    display: block;
    padding: 12px 22px;
    color: beige;
    background-color: black;
    
}
.hero{
    padding-top: 30px;
    padding-right: 900px;
    background-position: 8cap;
}
   
    
<style>
.hero{
    background: url(<path-to-image>), lightgray -389.066px -182.935px / 204.859% 155.655% no-repeat;
    display: flex;
    justify-content: right;

   }
 </style>
